@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.debug {
  border: 4px solid red !important;
}

.debug2 {
  border: 4px solid yellow;
}

.debug3 {
  border: 4px solid green;
}

.myswiper .swiper-button-next,
.myswiper .swiper-button-prev {
  color: #fff;
  cursor: pointer;
}
