.animate-underline {
  position: relative;
  cursor: pointer;
}

.animate-underline:before {
  content: '';
  position: absolute;
  background: #fff;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  z-index: -1;
  transition: width 0.1s ease-in;
}

.animate-underline:hover:before {
  width: 100%;
}
